<style type="text/css">
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
</style>
{% if avghead %}
<table style="width: 100%" class="gridtable">
    <thead>
    <tr>
        {% for item in avghead %}
        <th>{% autoescape false %} {{ item }} {% endautoescape %}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for item_tr in avgbodys %}
    <tr>
       {% for item_td in item_tr %}
            <td>{% autoescape false %} {{ item_td }} {% endautoescape %}</td>
       {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
<table style="width: 100%;margin-top:20px;" class="gridtable">
    <thead>
    <tr>
        {% for item in head %}
        <th>{% autoescape false %} {{ item }} {% endautoescape %}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for item_tr in bodys %}
    <tr>
       {% for item_td in item_tr %}
            <td>{% autoescape false %} {{ item_td }} {% endautoescape %}</td>
       {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
