{%extends base%}
{% block extra_head %}
<script src="{{STATIC_URL}}js/fuelux.tree.min.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}css/proj/common.css" />
<link rel="stylesheet" href="{{STATIC_URL}}plugin/sweetalert/sweet-alert.css" />
<link rel="stylesheet" href="{{STATIC_URL}}plugin/select2/select2.css"/>



<!-- page specific plugin scripts -->
{% endblock %}
{% block Hometitle %}组织信息管理 > <a href="{% url 'cluster.index' %}"> 集群管理 </a>{% endblock %}
{% block actiontitle %}集群&业务线管理{% endblock %}
{% block pagetitle %}{{cluster.cluster_name}}集群{% endblock %}
{% block pagecontent %}



<body class="no-skin">

<!--start main content-->
<div class="widget-box transparent ui-sortable-handle">
	<div class="widget-header">
		<h4 class="widget-title lighter" >关联业务线信息</h4>
		<div class="widget-toolbar no-border">
			<ul id="cluster_info" class="nav nav-tabs" value="{{cluster.cluster_id}}">
				<li class="active">
					<a href="#home2" data-toggle="tab">详细信息</a>
				</li>
				<li>
					<a href="#profile2" data-toggle="tab">创建新的业务线关联</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="widget-body">
		<div class="widget-main padding-12 no-padding-left no-padding-right">
			<div class="tab-content padding-4">
				<div class="tab-pane in active" id="home2">
					<!-- start home2-->
					<div class="main-container" id="main-container">
						<div class="page-content">
							<div class="row">
								<div class="col-xs-12">
									<div class="row">
										<!--  业务线开始-->
										<div class="col-sm-12">
											<table class="table table-bordered " id="simple-table">
												<thead>
													<tr>
														<th class="center">
															<label class="pos-rel">
																<input type="checkbox" class="ace" />
																<span class="lbl"></span>
															</label>
														</th>

														 <th>业务线名称</th>
														 <th>业务线代码</th>
														 <th>具体的操作</th>

													 </tr>

               									</thead>
               									<tbody>
													{% for busline in buslines %}
													<tr >
									 					<th class="center">
															<label class="pos-rel">
																<input type="checkbox" class="ace"  value="{{dpt.dpt_id}}}"/>
																<span class="lbl"></span>
															</label>
														</th>
									  					<td>
															{{busline.name}}
													  	</td>
														<td class="hidden-480">
															<span class="label label-lg label-success arrowed-right">	{{busline.code}}</span>


														</td>
														  <td>
															 <a class="btn  btn-danger btn-xs del-btn"  value="{{busline.id}}" ><i class="ace-icon fa fa-trash-o "></i></a>
															  <!--<a class="btn  btn-warning  btn-xs" href="/dpt/user/assoc/?id={{dpt.dpt_id}}"><i class="ace-icon fa fa-chain "></i></a>-->
														  </td>
													</tr>
													{% endfor %}
               									</tbody>
           									</table>




                        				</div>

                    				</div>
               					 </div>

	    					</div>
						</div>
        			</div>
					<!-- end home2-->
				</div>
<!--start home1-->
				<div class="tab-pane" id="profile2">
					<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="widget-box">
											<div class="widget-header widget-header-flat">
												<h4 class="widget-title smaller">
													<!--<i class="ace-icon fa fa-quote-left smaller-80"></i>-->
													关联业务线
												</h4>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<div class="row">
														<!-- form start -->
								<form role="form" class="form-horizontal">

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right">业务线名称</label>

										<div class="col-sm-7">
											<input   id="user_name" style="width:80%;" name="user_name"/>
										</div>
									</div>

									<div class="space-6"></div>
									<!--<div class="form-group">-->
										<!--<label class="col-sm-3 control-label no-padding-right">操作类型</label>-->

										<!--<div  class="col-sm-4" >-->

												<!--<select class="populate" style="display: none; width:95%;" id="control_type"  tabindex="-1" style="width:80%;" >-->
													<!--<option value="0">运维 </option>-->
													<!--<option value="1">管理</option>-->
                                   				 <!--</select>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="form-group">-->
										<!--<label class="col-sm-3 control-label no-padding-right"></label>-->
										<!--<div class="col-sm-9">-->
											<!--<div class="pos-rel">-->
												<!--<div class="checkbox">-->
    												<!--<label><input type="checkbox" id="is_admin"> 管理员 </label>-->
  												<!--</div>-->
											<!--</div>-->
										<!--</div>-->
									<!--</div>-->
															<!--  add button start-->
									<div class="form-group">

										<div class="col-sm-offset-3 col-sm-4">
											<button class="btn btn-lg btn-success" id="add_user">
												<i class="ace-icon fa fa-check"></i>
												添加
											</button>
											<!--<button class="btn btn-success btn-block"><i class="ace-icon fa fa-check"></i></button>-->
										</div>
									</div>
															<!-- add button end-->

								</form>
														<!-- form end-->
													</div>
												</div>
											</div>
										</div>


								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div>
				</div>
				<!-- start home1-->
			</div>
		</div>
	</div>
</div>
<!--end main content-->


<a href="javascript:history.back()" class="btn-lg btn-success">
	<i class="ace-icon glyphicon glyphicon-hand-left"></i>
	返回上一级
</a>


<script src="{{STATIC_URL}}plugin/sweetalert/sweet-alert.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}plugin/select2/select2.min.js">  </script>
<script src="{{STATIC_URL}}js/dpt/cluster_busline.js"></script>

</body>

</html>


{% endblock %}
