{% extends "tools/workpermission/main.html" %}
{% block mainsudo %}
<div style="margin-left: 10px">
    <h3 class="content_title">
    <font color="#4169e1">{{ current_role.name }}</font> 权限
    </h3>
    <hr>
    <div class="panel-body">
        <div id="user">
            <div id="usercontent" style="margin-left: 5px;border-radius: 13px">

               <div class="panel-body">
                    <button class="btn btn-success" id="add_user" style="margin-left: 10px;">
                        <i class="glyphicon glyphicon-user"></i>&nbsp; 添加用户
                    </button>
                      <button class="btn btn-danger delete_all_machine" id="add_all_machine" style="margin-left: 10px">
                        <i class="glyphicon glyphicon-remove"></i>&nbsp;全部删除
                      </button>
{#                      <button class="btn btn-primary delete_all_machine pull-right" id="add_all_machine" style="margin-right: 10px">#}
{#                        <i class="fa fa-save"></i>&nbsp;保存#}
{#                      </button>#}
                     <div class="row">
                         <div class="col-sm-12 col-md-12 col-lg-12 table-responsive" style="overflow-y:auto; overflow-x:auto;;margin-top: 15px">
                             <table class="table table-out-bordered table-condensed">
                                <thead>
                                    <tr role="row">
                                        <th class="text-left sorting_disabled" rowspan="1" colspan="1">中文名</th>
                                        <th class="text-left sorting_disabled" rowspan="1" colspan="1">英文名</th>
                                        <th class="text-left sorting_disabled" rowspan="1" colspan="1">邮箱</th>

                                        <th class="text-center sorting_disabled" rowspan="1" colspan="1">操作</th>
                                    </tr>
                                </thead>
                                <tbody class="user_list" id="user_list">
                                    {% for w in userroles %}
                                    <tr role="row" class="odd">

                                        <td>{{ w.user.cn_name }}</td>
                                        <td>{{ w.user.name }}</td>
                                        <td>{{ w.user.email }}</td>

                                        <td >
                                            <div class="btn-list btn-xs span7 text-center">
                                                <button class="btn btn-danger btn-xs" id="user{{ w.id }}" onclick="userdelete({{ w.id }})">删除</button>
                                            </div>
                                        </td >

                                    </tr>
                                    {% endfor %}
                                </tbody>
                             </table>
                         </div>
                     </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div id="pool">
            <div id="poolcontent" style="margin-left: 5px;border-radius: 13px">
                <div class="panel-body">
                    <button class="btn btn-pool" id="add_pool" style="margin-left: 10px;">
                        <i class="glyphicon glyphicon-user"></i>&nbsp; 添加Pool
                    </button>
                      <button class="btn btn-danger delete_all_pool" id="add_all_machine" style="margin-left: 10px">
                        <i class="glyphicon glyphicon-remove"></i>&nbsp;全部删除
                      </button>
                    <div class="row">
                         <div class="col-sm-12 col-md-12 col-lg-12 table-responsive" style="overflow-y:auto; overflow-x:auto;;margin-top: 15px">
                             <table class="table table-out-bordered table-condensed">
                                <thead>
                                    <tr role="row">
                                        <th class="text-left sorting_disabled" rowspan="1" colspan="1">Pool名</th>
                                        <th class="text-left sorting_disabled" rowspan="1" colspan="1">部门</th>

                                        <th class="text-center sorting_disabled" rowspan="1" colspan="1">操作</th>
                                    </tr>
                                </thead>
                                <tbody class="pool_list" id="pool_list">
                                    {% for w in poolroles %}
                                    <tr role="row" class="odd">

                                        <td>{{ w.pool.name }}</td>
                                        <td>{{ w.pool.department }}</td>

                                        <td >
                                            <div class="btn-list btn-xs span7 text-center">
                                                <button class="btn btn-danger btn-xs" id="pool{{ w.id }}" onclick="pooldelete({{ w.id }})">删除</button>
                                            </div>
                                        </td >

                                    </tr>
                                    {% endfor %}
                                </tbody>
                             </table>
                         </div>
                     </div>


                </div>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div id="script">
            <div id="scriptcontent" style="margin-left: 5px;border-radius: 13px">
                <div class="panel-body">
                    <button class="btn btn-script" id="add_script" style="margin-left: 10px;">
                        <i class="glyphicon glyphicon-user"></i>&nbsp; 添加脚本
                    </button>
                      <button class="btn btn-danger delete_all_pool" id="add_all_machine" style="margin-left: 10px">
                        <i class="glyphicon glyphicon-remove"></i>&nbsp;全部删除
                      </button>
                    <div class="row">
                         <div class="col-sm-12 col-md-12 col-lg-12 table-responsive" style="overflow-y:auto; overflow-x:auto;;margin-top: 15px">
                             <table class="table table-out-bordered table-condensed">
                                <thead>
                                    <tr role="row">
                                        <th class="text-left sorting_disabled"  >名称</th>
                                        <th class="text-left sorting_disabled"  >文件路径</th>
                                        <th class="text-left sorting_disabled" >文件名</th>
                                        <th class="text-left sorting_disabled" >描述</th>
                                        <th class="text-left sorting_disabled"  >部门</th>
                                        <th class="text-left sorting_disabled" >文件类型</th>
                                        <th class="text-center sorting_disabled" >操作</th>
                                    </tr>
                                </thead>
                                <tbody class="script_list" id="script_list">
                                    {% for w in scriptroles %}
                                    <tr role="row" class="odd">

                                        <td>{{ w.workfile.name }}</td>
                                        <td>{{ w.workfile.path }}</td>
                                        <td>{{ w.workfile.filename }}</td>
                                        <td>{{ w.workfile.description }}</td>
                                        <td>{{ w.workfile.department.name }}</td>
                                        <td>{{ w.workfile.workType.name }}</td>

                                        <td >
                                            <div class="btn-list btn-xs span7 text-center">
                                                <button class="btn btn-danger btn-xs" id="script{{ w.id }}" onclick="scriptdelete({{ w.id }})">删除</button>
                                            </div>
                                        </td >

                                    </tr>
                                    {% endfor %}
                                </tbody>
                             </table>
                         </div>
                     </div>


                </div>
            </div>
        </div>
    </div>

     <div class="panel-body">
        <div id="job">
            <div id="jobcontent" style="margin-left: 5px;border-radius: 13px">
                <div class="panel-body">
                    <button class="btn btn-job" id="add_job" style="margin-left: 10px;">
                        <i class="glyphicon glyphicon-user"></i>&nbsp; 添加作业
                    </button>
                      <button class="btn btn-danger delete_all_pool" id="add_all_machine" style="margin-left: 10px">
                        <i class="glyphicon glyphicon-remove"></i>&nbsp;全部删除
                      </button>
                    <div class="row">
                         <div class="col-sm-12 col-md-12 col-lg-12 table-responsive" style="overflow-y:auto; overflow-x:auto;;margin-top: 15px">
                             <table class="table table-out-bordered table-condensed">
                                <thead>
                                    <tr role="row">
                                        <th class="text-left sorting_disabled">作业名称</th>
                                        <th class="text-left sorting_disabled">创建人</th>
                                        <th class="text-left sorting_disabled">更新时间</th>
                                        <th class="text-center sorting_disabled" >操作</th>
                                    </tr>
                                </thead>
                                <tbody class="job_list" id="job_list">
                                    {% for w in taskroles %}
                                    <tr role="row" class="odd">

                                        <td>{{ w.task.name }}</td>
                                        <td>{{ w.task.user.cn_name }}</td>
                                        <td>{{ w.task.update_time }}</td>

                                        <td >
                                            <div class="btn-list btn-xs span7 text-center">
                                                <button class="btn btn-danger btn-xs" id="job{{ w.id }}" onclick="jobdelete({{ w.id }})">删除</button>
                                            </div>
                                        </td >

                                    </tr>
                                    {% endfor %}
                                </tbody>
                             </table>
                         </div>
                     </div>


                </div>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div id="op">
            <div id="opcontent" style="margin-left: 5px;border-radius: 13px">
                <div class="panel-body">
                    <button class="btn btn-op" id="add_op" style="margin-left: 10px;">
                        <i class="glyphicon glyphicon-user"></i>&nbsp; 添加页面
                    </button>
                      <button class="btn btn-danger delete_all_pool" id="add_all_machine" style="margin-left: 10px">
                        <i class="glyphicon glyphicon-remove"></i>&nbsp;全部删除
                      </button>
                    <div class="row">
                         <div class="col-sm-12 col-md-12 col-lg-12 table-responsive" style="overflow-y:auto; overflow-x:auto;;margin-top: 15px">
                             <table class="table table-out-bordered table-condensed">
                                <thead>
                                    <tr role="row">
                                        <th class="text-left sorting_disabled">页面功能</th>
                                        <th class="text-left sorting_disabled">url</th>
                                        <th class="text-center sorting_disabled" >操作</th>
                                    </tr>
                                </thead>
                                <tbody class="op_list" id="op_list">
                                    {% for w in oproles %}
                                    <tr role="row" class="odd">

                                        <td>{{ w.url.description }}</td>
                                        <td>{{ w.url.url }}</td>

                                        <td >
                                            <div class="btn-list btn-xs span7 text-center">
                                                <button class="btn btn-danger btn-xs" id="op{{ w.id }}" onclick="opdelete({{ w.id }})">删除</button>
                                            </div>
                                        </td >

                                    </tr>
                                    {% endfor %}
                                </tbody>
                             </table>
                         </div>
                     </div>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade form-horizontal" style="height: auto" id="usermodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
				<h4 id="poptitle" class="modal-title">选择用户&nbsp;&nbsp;<i id="loaduser" class="fa fa-spinner fa-spin"></i></h4>

			</div>
            <div  class="alert alert-danger" role="alert" id="user_alert"></div>
			<div class="modal-body">
                <input type="input" class="form-control" id="input-check-node" placeholder="Search..." >
                <div id="usertree"></div>
			</div>
			<div class="modal-footer" >
				<button type="button" class="btn btn-warning btn-lg " data-dismiss="modal">close</button>
				<button id="ok_user" type="button" class="btn btn-primary btn-lg ok_machine">确定</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade form-horizontal" style="height: auto" id="poolmodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
				<h4 id="poptitle" class="modal-title">选择Pool&nbsp;&nbsp;<i id="loadpool" class="fa fa-spinner fa-spin"></i></h4>

			</div>
            <div  class="alert alert-danger" role="alert" id="pool_alert"></div>
			<div class="modal-body">
                <input type="input" class="form-control" id="input-check-node-pool" placeholder="Search..." >
                <div id="pooltree"></div>
			</div>
			<div class="modal-footer" >
				<button type="button" class="btn btn-warning btn-lg " data-dismiss="modal">close</button>
				<button id="ok_pool" type="button" class="btn btn-primary btn-lg ok_machine">确定</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade form-horizontal" style="height: auto" id="scriptmodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
				<h4 id="poptitle" class="modal-title">选择脚本&nbsp;&nbsp;<i id="loadscript" class="fa fa-spinner fa-spin"></i></h4>

			</div>
            <div  class="alert alert-danger" role="alert" id="script_alert"></div>
			<div class="modal-body">
                <input type="input" class="form-control" id="input-check-node-script" placeholder="Search..." >
                <div id="scripttree"></div>
			</div>
			<div class="modal-footer" >
				<button type="button" class="btn btn-warning btn-lg " data-dismiss="modal">close</button>
				<button id="ok_script" type="button" class="btn btn-primary btn-lg ok_script">确定</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade form-horizontal" style="height: auto" id="jobmodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
				<h4 id="poptitle" class="modal-title">选择作业&nbsp;&nbsp;<i id="loadjob" class="fa fa-spinner fa-spin"></i></h4>

			</div>
            <div  class="alert alert-danger" role="alert" id="job_alert"></div>
			<div class="modal-body">
                <input type="input" class="form-control" id="input-check-node-job" placeholder="Search..." >
                <div id="jobtree"></div>
			</div>
			<div class="modal-footer" >
				<button type="button" class="btn btn-warning btn-lg " data-dismiss="modal">close</button>
				<button id="ok_job" type="button" class="btn btn-primary btn-lg ok_job">确定</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade form-horizontal" style="height: auto" id="opmodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
				<h4 id="poptitle" class="modal-title">选择页面功能&nbsp;&nbsp;<i id="loadop" class="fa fa-spinner fa-spin"></i></h4>

			</div>
            <div  class="alert alert-danger" role="alert" id="op_alert"></div>
			<div class="modal-body">
                <input type="input" class="form-control" id="input-check-node-op" placeholder="Search..." >
                <div id="optree"></div>
			</div>
			<div class="modal-footer" >
				<button type="button" class="btn btn-warning btn-lg " data-dismiss="modal">close</button>
				<button id="ok_op" type="button" class="btn btn-primary btn-lg ok_job">确定</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/static/js/mycontrol/downhead.js"></script>

<script>
role_id={{ current_role.id }}
$('#user').Downhead(
        {header:'用户',background:'#5cb85c',divid:'user',lefticon:'fa fa-user-md',childcontent:$('#usercontent')}
)
$('#pool').Downhead(
        {header:'Pool',background:'#F4DB75',divid:'pool',lefticon:'fa fa-laptop',childcontent:$('#poolcontent')}
)
$('#script').Downhead(
        {header:'脚本',background:'#9393FF',divid:'script',lefticon:'fa fa-book',childcontent:$('#scriptcontent')}
)
$('#job').Downhead(
        {header:'作业',background:'#DE96B7',divid:'job',lefticon:'fa fa-tasks',childcontent:$('#jobcontent')}
)
$('#op').Downhead(
        {header:'页面',background:'#A7D6D8',divid:'op',lefticon:'fa fa-wrench',childcontent:$('#opcontent')}
)

$('#user_alert').hide()
$('#pool_alert').hide()
$('#script_alert').hide()
$('#job_alert').hide()
$('#op_alert').hide()

userData=''
$('#add_user').click(function(){
      $("#usermodal").modal('show')
      if(userData){
          setTree()
          $("#loaduser").hide()
      }
      else{
          $("#loaduser").show()
          loaduser()
      }
    }
)

function loaduser(){
     $.ajax({
              'url': '/cmdb/workpermission/getuser',
              'type': 'post',
              'dataType': 'json',
              'data': {},
              success: function (res) {
                  if (!userData) {
                      userData = res
                      setTree()
                      $("#loaduser").hide()
                  }
              },
              error: function (res) {
                  console.log(res)
              }
  })
}

var findCheckableNodess = function(type) {
         if (type==1) {
             return $checkableUserTree.treeview('search', [$('#input-check-node').val(), {
                 ignoreCase: true,
                 exactMatch: false,
                 revealResults: true,
             }]);
         }
         else if(type==2){
             return $checkablePoolTree.treeview('search', [$('#input-check-node-pool').val(), {
                 ignoreCase: true,
                 exactMatch: false,
                 revealResults: true,
             }]);
         }
        else if(type==3){
             return $checkableScriptTree.treeview('search', [$('#input-check-node-script').val(), {
                 ignoreCase: true,
                 exactMatch: false,
                 revealResults: true,
             }]);
         }
         else if(type==4){
             return $checkablejobTree.treeview('search', [$('#input-check-node-job').val(), {
                 ignoreCase: true,
                 exactMatch: false,
                 revealResults: true,
             }]);
         }
        else if(type==5){
             return $checkablejobTree.treeview('search', [$('#input-check-node-op').val(), {
                 ignoreCase: true,
                 exactMatch: false,
                 revealResults: true,
             }]);
         }
    };

var checkableUserNodes = ''
// Check/uncheck/toggle nodes
$('#input-check-node').on('keyup', function (e) {
  checkableNodes = findCheckableNodess(1);
  $('.check-node').prop('disabled', !(checkableUserNodes.length >= 1));
});

var $checkableUserTree=''
function setTree(){
         $checkableUserTree = $('#usertree').treeview({
              data: userData,
              showIcon: false,
              showCheckbox: true,
              showTags:true,

              onNodeChecked: function(event, node) {
{#                $('#checkable-output').prepend('<p>' + node.text + ' was checked</p>');#}
{#                    node.nodes[0].state.checked=true#}
                    var children = node.nodes;

{#                    if (node.state.expanded==false) {#}
{#                        $('#tree').treeview('expandNode', node['nodeId']);#}
{#                    }#}
                    if (children) {
                        for (var i = 0; i < children.length; i++) {
                            var childNode = children[i];
                            var nodeId = childNode['nodeId'];
                            $('#usertree').treeview('checkNode', nodeId);
{#                            $('#tree').treeview('expandNode', nodeId);#}
                        }
                    }
                },
              onNodeUnchecked: function (event, node) {
{#                $('#checkable-output').prepend('<p>' + node.text + ' was unchecked</p>');#}
                  var children = node.nodes;
                    if (children) {
                        for (var i = 0; i < children.length; i++) {
                            var childNode = children[i];
                            var nodeId = childNode['nodeId'];
                            $('#usertree').treeview('uncheckNode', nodeId);
                        }
                    }
              }
          });
         $('#usertree').treeview('collapseAll', { silent: true });
     }

$('#ok_user').click(function(){
     $('#user_alert').empty()
    $('#user_alert').hide()
    s_count=0
    data_s=[]
    $.each($('#usertree').treeview('getChecked'), function(i, item){

        if (item){
            if (item.level==3){
              data_s.push(item)
            }
        }


     })
    if (data_s.length>0){
         $.ajax({
                type: 'POST',
                url: '/cmdb/workpermission/adduserrole/'+role_id,
                'dataType': 'json',
                'data': {user_info:JSON.stringify(data_s)},
            success: function (res) {
                if(res.code==1){
                    $('#user_list').empty()
                    $.each(res.data,function(i,w){
                        $('#user_list').append('<tr role="row" class="odd">'+
                                        '<td>'+ w.user.cn_name +'</td>'+
                                        '<td>' +w.user.name +'</td>'+
                                        '<td>'+ w.user.email +'</td>'+
                                        '<td >'+
                                            '<div class="btn-list btn-xs span7 text-center">'+
                                                '<button class="btn btn-danger btn-xs" id="user'+ w.id+'" onclick="userdelete('+ w.id +')">删除</button>'+
                                            '</div>'+
                                        '</td >'+
                                    '</tr>')
                    })
                    $("#usermodal").modal('hide')

                }
                else{

                    alert_msg('user_alert',true,true,'添加失败!')
                }
            },
            error: function () {

                alert_msg('user_alert',true,true,'添加失败!')
            }
            });
    }
    else{
        alert_msg('user_alert',true,true,'请选择用户!')
    }
})


userdelete=function(id){
    if(confirm("确认删除吗?\r\n确认之后不可恢复数据")) {
            $.ajax({
                'url': '/cmdb/workpermission/userdelete/' + id,
                'type': 'POST',
                'dataType': 'json',
                'data': {},
                success: function (res) {
                    if (res.code == 0) {
                        alert('删除失败!')
                    } else {
                        $('#user'+id).parents('tr')[0].remove()
                    }
                }
            })
    }
}

poolData=''
$('#add_pool').click(function(){
      $("#poolmodal").modal('show')
      if(poolData){
          setpoolTree()
          $("#loadpool").hide()
      }
      else{
          $("#loadpool").show()
          loadpool()
      }
    }
)

function loadpool(){
     $.ajax({
              'url': '/cmdb/workpermission/getpool',
              'type': 'post',
              'dataType': 'json',
              'data': {},
              success: function (res) {
                  if (!poolData) {
                      poolData = res
                      setpoolTree()
                      $("#loadpool").hide()
                  }
              },
              error: function (res) {
                  console.log(res)
              }
  })
}

var checkablePoolNodes = ''
// Check/uncheck/toggle nodes
$('#input-check-node-pool').on('keyup', function (e) {
  checkableNodes = findCheckableNodess(2);
  $('.check-node').prop('disabled', !(checkablePoolNodes.length >= 1));
});

var $checkablePoolTree=''
function setpoolTree(){
         $checkablePoolTree = $('#pooltree').treeview({
              data: poolData,
              showIcon: false,
              showCheckbox: true,
              showTags:true,

              onNodeChecked: function(event, node) {
{#                $('#checkable-output').prepend('<p>' + node.text + ' was checked</p>');#}
{#                    node.nodes[0].state.checked=true#}
                    var children = node.nodes;

{#                    if (node.state.expanded==false) {#}
{#                        $('#tree').treeview('expandNode', node['nodeId']);#}
{#                    }#}
                    if (children) {
                        for (var i = 0; i < children.length; i++) {
                            var childNode = children[i];
                            var nodeId = childNode['nodeId'];
                            $('#pooltree').treeview('checkNode', nodeId);
{#                            $('#tree').treeview('expandNode', nodeId);#}
                        }
                    }
                },
              onNodeUnchecked: function (event, node) {
{#                $('#checkable-output').prepend('<p>' + node.text + ' was unchecked</p>');#}
                  var children = node.nodes;
                    if (children) {
                        for (var i = 0; i < children.length; i++) {
                            var childNode = children[i];
                            var nodeId = childNode['nodeId'];
                            $('#pooltree').treeview('uncheckNode', nodeId);
                        }
                    }
              }
          });
         $('#pooltree').treeview('collapseAll', { silent: true });
     }

$('#ok_pool').click(function(){
     $('#pool_alert').empty()
    $('#pool_alert').hide()
    s_count=0
    data_s=[]
    $.each($('#pooltree').treeview('getChecked'), function(i, item){

        if (item){
            if (item.level==2){
              data_s.push(item)
            }
        }
     })
    if (data_s.length>0){
         $.ajax({
                type: 'POST',
                url: '/cmdb/workpermission/addpoolrole/'+role_id,
                'dataType': 'json',
                'data': {pool_info:JSON.stringify(data_s)},
            success: function (res) {
                if(res.code==1){
                    $('#pool_list').empty()
                    $.each(res.data,function(i,w){
                        $('#pool_list').append('<tr role="row" class="odd">'+
                                        '<td>'+ w.pool.name +'</td>'+
                                        '<td>' +w.pool.department +'</td>'+
                                        '<td >'+
                                            '<div class="btn-list btn-xs span7 text-center">'+
                                                '<button class="btn btn-danger btn-xs" id="pool'+ w.id+'" onclick="pooldelete('+ w.id +')">删除</button>'+
                                            '</div>'+
                                        '</td >'+
                                    '</tr>')
                    })
                    $("#poolmodal").modal('hide')

                }
                else{

                    alert_msg('pool_alert',true,true,'添加失败!')
                }
            },
            error: function () {

                alert_msg('pool_alert',true,true,'添加失败!')
            }
            });
    }
    else{
        alert_msg('pool_alert',true,true,'请选择Pool!')
    }
})

pooldelete=function(id){
    if(confirm("确认删除吗?\r\n确认之后不可恢复数据")) {
            $.ajax({
                'url': '/cmdb/workpermission/pooldelete/' + id,
                'type': 'POST',
                'dataType': 'json',
                'data': {},
                success: function (res) {
                    if (res.code == 0) {
                        alert('删除失败!')
                    } else {
                        $('#pool'+id).parents('tr')[0].remove()
                    }
                }
            })
    }
}


scriptData=''
$('#add_script').click(function(){
      $("#scriptmodal").modal('show')
      if(scriptData){
          setscriptTree()
          $("#loadscript").hide()
      }
      else{
          $("#loadscript").show()
          loadscript()
      }
    }
)

function loadscript(){
     $.ajax({
              'url': '/cmdb/work/getscript',
              'type': 'post',
              'dataType': 'json',
              'data': {},
              success: function (res) {
                  if (!scriptData) {
                      scriptData = res
                      setscriptTree()
                      $("#loadscript").hide()
                  }
              },
              error: function (res) {
                  console.log(res)
              }
  })
}

var checkableScriptNodes = ''
// Check/uncheck/toggle nodes
$('#input-check-node-script').on('keyup', function (e) {
  checkableNodes = findCheckableNodess(3);
  $('.check-node').prop('disabled', !(checkableScriptNodes.length >= 1));
});

var $checkableScriptTree=''
function setscriptTree(){
         $checkableScriptTree = $('#scripttree').treeview({
              data: scriptData,
              showIcon: false,
              showCheckbox: true,
              showTags:true,

              onNodeChecked: function(event, node) {
{#                $('#checkable-output').prepend('<p>' + node.text + ' was checked</p>');#}
{#                    node.nodes[0].state.checked=true#}
                    var children = node.nodes;

{#                    if (node.state.expanded==false) {#}
{#                        $('#tree').treeview('expandNode', node['nodeId']);#}
{#                    }#}
                    if (children) {
                        for (var i = 0; i < children.length; i++) {
                            var childNode = children[i];
                            var nodeId = childNode['nodeId'];
                            $('#scripttree').treeview('checkNode', nodeId);
{#                            $('#tree').treeview('expandNode', nodeId);#}
                        }
                    }
                },
              onNodeUnchecked: function (event, node) {
{#                $('#checkable-output').prepend('<p>' + node.text + ' was unchecked</p>');#}
                  var children = node.nodes;
                    if (children) {
                        for (var i = 0; i < children.length; i++) {
                            var childNode = children[i];
                            var nodeId = childNode['nodeId'];
                            $('#scripttree').treeview('uncheckNode', nodeId);
                        }
                    }
              }
          });
         $('#scripttree').treeview('collapseAll', { silent: true });
     }

$('#ok_script').click(function(){
     $('#script_alert').empty()
    $('#script_alert').hide()
    s_count=0
    data_s=[]
    $.each($('#scripttree').treeview('getChecked'), function(i, item){

        if (item){
            if (item.level==2){
              data_s.push(item)
            }
        }
     })
    if (data_s.length>0){
         $.ajax({
                type: 'POST',
                url: '/cmdb/workpermission/addscriptrole/'+role_id,
                'dataType': 'json',
                'data': {script_info:JSON.stringify(data_s)},
            success: function (res) {
                if(res.code==1){
                    $('#script_list').empty()
                    $.each(res.data,function(i,w){
                        $('#script_list').append('<tr role="row" class="odd">'+
                                        '<td>'+w.workfile.name +'</td>'+
                                        '<td>'+ w.workfile.path +'</td>'+
                                        '<td>'+w.workfile.filename +'</td>'+
                                        '<td>'+ w.workfile.description +'</td>'+
                                        '<td>'+ w.workfile.department.name +'</td>'+
                                        '<td>'+ w.workfile.workType.name +'</td>'+
                                        '<td >'+
                                            '<div class="btn-list btn-xs span7 text-center">'+
                                                '<button class="btn btn-danger btn-xs" id="script'+ w.id+'" onclick="scriptdelete('+ w.id +')">删除</button>'+
                                            '</div>'+
                                        '</td >'+
                                    '</tr>')
                    })
                    $("#scriptmodal").modal('hide')

                }
                else{

                    alert_msg('script_alert',true,true,'添加失败!')
                }
            },
            error: function () {

                alert_msg('script_alert',true,true,'添加失败!')
            }
            });
    }
    else{
        alert_msg('script_alert',true,true,'请选择脚本!')
    }
})

scriptdelete=function(id){
    if(confirm("确认删除吗?\r\n确认之后不可恢复数据")) {
            $.ajax({
                'url': '/cmdb/workpermission/scriptdelete/' + id,
                'type': 'POST',
                'dataType': 'json',
                'data': {},
                success: function (res) {
                    if (res.code == 0) {
                        alert('删除失败!')
                    } else {
                        $('#script'+id).parents('tr')[0].remove()
                    }
                }
            })
    }
}


jobData=''
$('#add_job').click(function(){
      $("#jobmodal").modal('show')
      if(jobData){
          setjobTree()
          $("#loadjob").hide()
      }
      else{
          $("#loadjob").show()
          loadjob()
      }
    }
)

function loadjob(){
     $.ajax({
              'url': '/cmdb/workpermission/getjob',
              'type': 'post',
              'dataType': 'json',
              'data': {},
              success: function (res) {
                  if (!jobData) {
                      jobData = res
                      setjobTree()
                      $("#loadjob").hide()
                  }
              },
              error: function (res) {
                  console.log(res)
              }
  })
}

var checkablejobNodes = ''
// Check/uncheck/toggle nodes
$('#input-check-node-job').on('keyup', function (e) {
  checkableNodes = findCheckableNodess(4);
  $('.check-node').prop('disabled', !(checkablejobNodes.length >= 1));
});

var $checkablejobTree=''
function setjobTree(){
         $checkablejobTree = $('#jobtree').treeview({
              data: jobData,
              showIcon: false,
              showCheckbox: true,
              showTags:true,

              onNodeChecked: function(event, node) {
{#                $('#checkable-output').prepend('<p>' + node.text + ' was checked</p>');#}
{#                    node.nodes[0].state.checked=true#}
                    var children = node.nodes;

{#                    if (node.state.expanded==false) {#}
{#                        $('#tree').treeview('expandNode', node['nodeId']);#}
{#                    }#}
                    if (children) {
                        for (var i = 0; i < children.length; i++) {
                            var childNode = children[i];
                            var nodeId = childNode['nodeId'];
                            $('#jobtree').treeview('checkNode', nodeId);
{#                            $('#tree').treeview('expandNode', nodeId);#}
                        }
                    }
                },
              onNodeUnchecked: function (event, node) {
{#                $('#checkable-output').prepend('<p>' + node.text + ' was unchecked</p>');#}
                  var children = node.nodes;
                    if (children) {
                        for (var i = 0; i < children.length; i++) {
                            var childNode = children[i];
                            var nodeId = childNode['nodeId'];
                            $('#jobtree').treeview('uncheckNode', nodeId);
                        }
                    }
              }
          });
         $('#jobtree').treeview('collapseAll', { silent: true });
     }

$('#ok_job').click(function(){
     $('#job_alert').empty()
    $('#job_alert').hide()
    s_count=0
    data_s=[]
    $.each($('#jobtree').treeview('getChecked'), function(i, item){

        if (item){
            if (item.level==1){
              data_s.push(item)
            }
        }
     })
    if (data_s.length>0){
         $.ajax({
                type: 'POST',
                url: '/cmdb/workpermission/addjobrole/'+role_id,
                'dataType': 'json',
                'data': {job_info:JSON.stringify(data_s)},
            success: function (res) {
                if(res.code==1){
                    $('#job_list').empty()
                    $.each(res.data,function(i,w){
                        $('#job_list').append('<tr role="row" class="odd">'+
                                        '<td>'+ w.task.name +'</td>'+
                                        '<td>'+ w.task.user.cn_name +'</td>'+
                                        '<td>'+ w.task.update_time +'</td>'+
                                        '<td >'+
                                            '<div class="btn-list btn-xs span7 text-center">'+
                                                '<button class="btn btn-danger btn-xs" id="job'+ w.id+'" onclick="jobdelete('+ w.id +')">删除</button>'+
                                            '</div>'+
                                        '</td >'+
                                    '</tr>')
                    })
                    $("#jobmodal").modal('hide')

                }
                else{

                    alert_msg('job_alert',true,true,'添加失败!')
                }
            },
            error: function () {

                alert_msg('job_alert',true,true,'添加失败!')
            }
            });
    }
    else{
        alert_msg('job_alert',true,true,'请选择作业!')
    }
})

jobdelete=function(id){
    if(confirm("确认删除吗?\r\n确认之后不可恢复数据")) {
            $.ajax({
                'url': '/cmdb/workpermission/jobdelete/' + id,
                'type': 'POST',
                'dataType': 'json',
                'data': {},
                success: function (res) {
                    if (res.code == 0) {
                        alert('删除失败!')
                    } else {
                        $('#job'+id).parents('tr')[0].remove()
                    }
                }
            })
    }
}

opData=''
$('#add_op').click(function(){
      $("#opmodal").modal('show')
      if(opData){
          setopTree()
          $("#loadop").hide()
      }
      else{
          $("#loadop").show()
          loadop()
      }
    }
)

function loadop(){
     $.ajax({
              'url': '/cmdb/workpermission/getop',
              'type': 'post',
              'dataType': 'json',
              'data': {},
              success: function (res) {
                  if (!opData) {
                      opData = res
                      setopTree()
                      $("#loadop").hide()
                  }
              },
              error: function (res) {
                  console.log(res)
              }
  })
}

var checkableopNodes = ''
// Check/uncheck/toggle nodes
$('#input-check-node-op').on('keyup', function (e) {
  checkableNodes = findCheckableNodess(5);
  $('.check-node').prop('disabled', !(checkableopNodes.length >= 1));
});

var $checkablejobTree=''
function setopTree(){
         $checkablejobTree = $('#optree').treeview({
              data: opData,
              showIcon: false,
              showCheckbox: true,
              showTags:true,

              onNodeChecked: function(event, node) {
{#                $('#checkable-output').prepend('<p>' + node.text + ' was checked</p>');#}
{#                    node.nodes[0].state.checked=true#}
                    var children = node.nodes;

{#                    if (node.state.expanded==false) {#}
{#                        $('#tree').treeview('expandNode', node['nodeId']);#}
{#                    }#}
                    if (children) {
                        for (var i = 0; i < children.length; i++) {
                            var childNode = children[i];
                            var nodeId = childNode['nodeId'];
                            $('#optree').treeview('checkNode', nodeId);
{#                            $('#tree').treeview('expandNode', nodeId);#}
                        }
                    }
                },
              onNodeUnchecked: function (event, node) {
{#                $('#checkable-output').prepend('<p>' + node.text + ' was unchecked</p>');#}
                  var children = node.nodes;
                    if (children) {
                        for (var i = 0; i < children.length; i++) {
                            var childNode = children[i];
                            var nodeId = childNode['nodeId'];
                            $('#optree').treeview('uncheckNode', nodeId);
                        }
                    }
              }
          });
         $('#optree').treeview('collapseAll', { silent: true });
     }

$('#ok_op').click(function(){
     $('#op_alert').empty()
    $('#op_alert').hide()
    s_count=0
    data_s=[]
    $.each($('#optree').treeview('getChecked'), function(i, item){

        if (item){
            if (item.level==1){
              data_s.push(item)
            }
        }
     })
    if (data_s.length>0){
         $.ajax({
                type: 'POST',
                url: '/cmdb/workpermission/addoprole/'+role_id,
                'dataType': 'json',
                'data': {op_info:JSON.stringify(data_s)},
            success: function (res) {
                if(res.code==1){
                    $('#op_list').empty()
                    $.each(res.data,function(i,w){
                        $('#op_list').append('<tr role="row" class="odd">'+
                                        '<td>'+ w.url.description +'</td>'+
                                        '<td>'+ w.url.url +'</td>'+
                                        '<td >'+
                                            '<div class="btn-list btn-xs span7 text-center">'+
                                                '<button class="btn btn-danger btn-xs" id="op'+ w.id+'" onclick="opdelete('+ w.id +')">删除</button>'+
                                            '</div>'+
                                        '</td >'+
                                    '</tr>')
                    })
                    $("#opmodal").modal('hide')

                }
                else{

                    alert_msg('op_alert',true,true,'添加失败!')
                }
            },
            error: function () {

                alert_msg('op_alert',true,true,'添加失败!')
            }
            });
    }
    else{
        alert_msg('op_alert',true,true,'请选择作业!')
    }
})

opdelete=function(id){
    if(confirm("确认删除吗?\r\n确认之后不可恢复数据")) {
            $.ajax({
                'url': '/cmdb/workpermission/opdelete/' + id,
                'type': 'POST',
                'dataType': 'json',
                'data': {},
                success: function (res) {
                    if (res.code == 0) {
                        alert('删除失败!')
                    } else {
                        $('#op'+id).parents('tr')[0].remove()
                    }
                }
            })
    }
}

function alert_msg(cid,isshow,isclear,show_info){
    controll=$('#'+cid)
    if(isshow){
        controll.show()
    }
    else{
        controll.hide()
    }
    if(isclear){
        controll.empty()
    }
    controll.append(show_info)
}

</script>

{% endblock %}
