{% extends "public/layout.html" %}
{% block title %}CMDB - 我关注的主机列表 {% endblock %}
{% block main %}
<h5 class="content_title">
    <span>我的关注</span>
</h5>
<hr>
<div>
    <dl class="tabs tab-title" data-tab>
         <dd class="active"><a href="#tab-a1">关注的主机</a></dd>
         <dd><a href="#tab-a2">关注的POOL</a></dd>
         {%  if current_user.href_button.rack %}
            <dd><a href="#tab-a3">关注的机柜</a></dd>
         {% endif %}
    </dl>

<div class="tabs-content">
    <div id="tab-a1" class="content active">
        <table style="width: 100%" class="table">
            <thead>
            <tr>
                <th>主机名</th>
                <th>IP</th>
                <th>CPU</th>
                <th>内存</th>
                <th>硬盘</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% if not followdHost %}
            <tr>
                <td colspan="6" style="color:Red">您尚未关注任何主机,您可以<a href="{{url_for('host.index')}}">进入主机列表</a>选择关注!
                </td>
            </tr>
            {% else %}

            {% for item in followdHost %}
            <tr fid="{{item.fid}}">
                <td><a href="/cmdb/host/{{item.id}}" target=_blank>{{ item.hostname }}</a></td>
                <td>{{ item.ipv4 }}</td>
                <td>{{ item.cpu_descri}}</td>
                <td>{{ item.memory_descri }}</td>
                <td>{{ item.storage_descri}}</td>
                <td><a data-options='{"id":{{ item.id }}, "type":2 ,"act":"unfollow" ,"fid": {{item.fid}} }'
                       href='javascript:void 0;'>取消关注</a></td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    <div id="tab-a2" class="content">
        <table style="width: 100%" class="table">
            <thead>
            <tr>
                <th>名称</th>
                <th>pool负责人</th>
                <th>业务负责人</th>
                <th>运维负责人</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% if not followdPool %}
            <tr>
                <td colspan="6" style="color:Red">您尚未关注任何POOL,您可以<a href="{{url_for('pool.index')}}">进入POOL列表</a>选择关注!
                </td>
            </tr>
            {% else %}
            {% for item in followdPool %}
            <tr fid="{{item.fid}}">
                <td><a href="{{ url_for('pool.detail',id=item.id) }}" target="_blank">{{ item.name }}</a></td>
                <td>{{ users[item.team_owner] and users[item.team_owner] or '未知' }}</td>
                <td>{{ users[item.biz_owner] and users[item.biz_owner] or '未知' }}</td>
                <td>{{ users[item.ops_owner] and users[item.ops_owner] or '未知'}}</td>
                <td>
                    <a data-options='{"id":{{ item.id }}, "type":1 ,"act":"unfollow" ,"fid": {{item.fid}}}'
                       href='javascript:void 0;'>取消关注</a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    <div id="tab-a3" class="content">
         <table width="100%">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>机柜名称</th>
                    <th>机柜高度</th>
                    <th>所属机房</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% if not followdHost %}
                <tr>
                    <td colspan="6" style="color:Red">您尚未关注任何机柜,您可以<a href="{{url_for('rack.index')}}">进入机柜列表</a>选择关注!
                    </td>
                </tr>
                {% else %}
                    {% for rack_item in followdRack %}
                        <tr>
                            <td>{{ rack_item.num }}</td>
                            <td><a href="{{ url_for('rack.showDetail',id=rack_item.id)}}">{{ rack_item.rack_name }}</a></td>
                            <td>{{ rack_item.height }}</td>
                            <td>{{ rack_item.idc_name }}</td>
                            <td>
                                <a data-options='{"id":{{ rack_item.id }}, "type":3 ,"act":"unfollow"}'
                                href='javascript:void 0;'>取消关注</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
    </div>
</div>
</div>
{% endblock %}
{% block customscript %}
    {% assets filters="jsmin", output="asset/user_follow.js", "js/follow.js"%}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}