.navbar-anjuke {
  background-color: #62ab00;
  border-color: #62ab00;
}

.header_nav > li > a:hover,
.header_nav > li > a:focus {
    text-decoration: none;
    background-color: #4a8101;
    color: #eee;
}

.nav1 > li > a {
    position: relative;
    display: block;
    padding: 15px 15px;
}

.nav1 {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}


.header_nav > li > a {
    color: #eee;
    text-decoration: none;
}

.left_nav > li > a:hover,
.left_nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
    color: #010f18;

}
.left_nav > li > a {
    color: #010f18;
    text-decoration: none;
    position: relative;
    display: block;
    padding: 10px 15px;
}


.left_nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.left_nav > li {
  position: relative;
  display: block;
}

.left_nav > li.disabled > a {
  color: #777;
}
.left_nav > li.disabled > a:hover,
.left_nava > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.left_nav .open > a,
.left_nav .open > a:hover,
.left_nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
.left_nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.left_nav > li > a > img {
  max-width: none;
}

.btn-anjuke {
  color: #fff;
  background-color: #62ab00;
  border-color: #62ab00;
  padding: 8px 52px;
  font-size: 14px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.btn-normal {
    color: #fff;
    background-color: #62ab00;
    border-color: #62ab00;
    padding: 7px 12px;
    font-size: 14px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.row1 {
}