body{overflow-x:hidden;}
.widget-box{margin-bottom:10px;}
.lable-tip{margin: 0;text-align: right;height: 35px;line-height: 34px;min-width:100px;}
.search-area{height: 35px;min-width:176px;}
.align-c{text-align: center;}
.select-com{min-width:176px;}
@media all and (max-width:1171px) {
  .row-in{padding-left:45px;}
  .row-in .lable-tip{text-align:left;padding-left:0;}
}
@media all and (max-width:768px) {
  .row-in{padding-left:0px;}
  .row-in .lable-tip{text-align:right;padding-left:12px;}
  .row-in .select-com{width:176px;}
}

.lable-tip{margin: 0;text-align: right;height: 35px;line-height: 34px;min-width:100px;}
.search-area{height: 35px;min-width:176px;}
.align-c{text-align: center;}
.select-com{min-width:176px;}
.table-wrap{overflow-x:auto;}
.table-wrap table{width:auto;max-width:9000px;}
.table-wrap table.table-list-service{width:2100px;}
.table-list-service .btn.btn-app.btn-xs{width:45px;}
.table-list-service .btn.btn-app.btn-xs>.ace-icon{font-size:18px;line-height:15px;}
.table-list-service thead th{text-align:center;}
.table>tbody>tr>td{vertical-align:middle;word-wrap:break-word;word-break:break-all;text-align:center;}
.modal-body-service{padding:15px 0 0 0;}
.modal-body-service .widget-box{margin:0;padding:0;border:0;}
.modal-body-service .widget-box .widget-toolbar{float:left;}
.widget-header-small>.widget-toolbar>.nav-tabs>li>a{padding-bottom:3px;}

.modal-body-service .tab-content{padding:0;}
.modal-body-service .table th{background:#f3f3f3;font-weight: normal;text-align: center;}
.modal-body-service .table td{text-align: center;}
.modal-body-service .widget-box.transparent>.widget-body{min-height:400px;}

@media all and (max-width:1171px) {
      .row-in{padding-left:45px;}
        .row-in .lable-tip{text-align:left;padding-left:0;}
    }
    @media all and (max-width:768px) {
          .row-in{padding-left:0px;}
            .row-in .lable-tip{text-align:right;padding-left:12px;}
              .row-in .select-com{width:176px;}
          }
