<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
{% load url from future %}
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>58CMDB</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'font-awesome/4.2.0/css/font-awesome.min.css' %}" />

		<!-- text fonts -->
		<link rel="stylesheet" href="{% static 'fonts/fonts.googleapis.com.css' %}" />

		<!-- ace styles -->
		<link rel="stylesheet" href="{% static 'css/ace.min.css' %}" class="ace-main-stylesheet" id="main-ace-style" />
		<link rel="stylesheet" href="{% static 'css/cmdb.css' %}" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="{% static 'css/ace-part2.min.css' %}" class="ace-main-stylesheet" />
		<![endif]-->

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="{% static 'css/ace-ie.min.css' %}" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="{% static 'js/ace-extra.min.js' %}"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="{% static 'js/html5shiv.min.js' %}"></script>
		<script src="{% static 'js/respond.min.js' %}"></script>
		<![endif]-->

				<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="{% static 'js/jquery.2.1.1.min.js' %}"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="{% static 'js/jquery.1.11.1.min.js' %}"></script>
<![endif]-->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='{% static 'js/jquery.min.js' %}'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='{% static 'js/jquery1x.min.js' %}'>"+"<"+"/script>");
</script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{% static 'js/jquery.mobile.custom.min.js' %}'>"+"<"+"/script>");
		</script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>

		<!-- page specific plugin styles -->
		{% block extra_head %}{% endblock %}
	</head>

	<body class="no-skin">
		<div id="navbar" class="navbar navbar-default">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

				<div class="navbar-header pull-left">
					<a href="{% url 'home' %}" class="navbar-brand">
						<small>
							<i class="fa fa-leaf"></i>
							58CMDB
						</small>
					</a>
				</div>

				<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">


						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">

								<span class="user-info">
									<small>欢迎,</small>
									{{username}}
								</span>

								<i class="ace-icon fa fa-caret-down"></i>
							</a>

							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<!-- <li>
									<a href="#">
										<i class="ace-icon fa fa-cog"></i>
										系统设置
									</a>
								</li>

								<li>
									<a href="profile.html">
										<i class="ace-icon fa fa-user"></i>
										个人设置
									</a>
								</li> -->

								<li class="divider"></li>

								<li>
									<a href="/logout/">
										<i class="ace-icon fa fa-power-off"></i>
										安全退出
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div><!-- /.navbar-container -->
		</div>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div id="sidebar" class="sidebar                  responsive">
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
				</script>
                <!--
				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<button class="btn btn-success">
							<i class="ace-icon fa fa-signal"></i>
						</button>

						<button class="btn btn-info">
							<i class="ace-icon fa fa-pencil"></i>
						</button>

						<button class="btn btn-warning">
							<i class="ace-icon fa fa-users"></i>
						</button>

						<button class="btn btn-danger">
							<i class="ace-icon fa fa-cogs"></i>
						</button>
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>
				</div><!-- /.sidebar-shortcuts -->

				<ul class="nav nav-list">
					<li class="active">
						<a href="{% url 'home' %}">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> 总览 </span>
						</a>

						<b class="arrow"></b>
					</li>

					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-desktop"></i>
							<span class="menu-text">
								资源管理
							</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
                                <a href="{% url 'server.index' %}">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    服务器管理
                                    <b class="arrow"></b>
                                </a>
							</li>
                            <li class="">
                                <a href="{% url 'repairs.index' %}">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    报修管理
                                </a>
                                <b class="arrow"></b>
                            </li>
						<!--
							<li class="">
								<a href="{% url 'netdevice.index' %}">
									<i class="menu-icon fa fa-caret-right"></i>
									网络设备管理
								</a>

								<b class="arrow"></b>
							</li>
						-->

							<li class="">
								<a href="{% url 'idc.index' %}">
									<i class="menu-icon fa fa-caret-right"></i>
									IDC管理
								</a>

								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="{% url 'ips.index' %}">
									<i class="menu-icon fa fa-caret-right"></i>
									IP资源管理
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="{% url 'PoolManagment.index' %}">
									<i class="menu-icon fa fa-caret-right"></i>
									资源池管理
								</a>
								<b class="arrow"></b>
							</li>


						</ul>
					</li>
					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-users"></i>
							<span class="menu-text"> 业务关系管理 </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>
						<b class="arrow"></b>
						<ul class="submenu">
							<li class="">
								<a href="/cluster/">
									<i class="menu-icon fa fa-caret-right"></i>
									集群管理
								</a>

								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="/busline/">
									<i class="menu-icon fa fa-caret-right"></i>
									业务线管理
								</a>

								<b class="arrow"></b>
							</li>
                            <li class="">
								<a href="{% url 'RresourcePool.index' %}">
									<i class="menu-icon fa fa-caret-right"></i>
									资源分配
								</a>
								<b class="arrow"></b>
							</li>
						</ul>
					</li>

					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon glyphicon glyphicon-cog"></i>
							<span class="menu-text"> 基础资源管理 </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>
						<b class="arrow"></b>
						<ul class="submenu">
							<li class="">
								<a href="/baseresource/">
									<i class="menu-icon fa fa-caret-right"></i>
									基础配置管理
								</a>

								<b class="arrow"></b>
							</li>
						</ul>
					</li>

					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-key"></i>
							<span class="menu-text"> 权限管理 </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>
						<b class="arrow"></b>
						<ul class="submenu">
							<li class="">
								<a href="/usermanager/">
									<i class="menu-icon fa fa-caret-right"></i>
									用户
								</a>

								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="/usergroupmanager/">
									<i class="menu-icon fa fa-caret-right"></i>
									用户组
								</a>

								<b class="arrow"></b>
							</li>
                            <li class="">
								<a href="/rolemanager/">
									<i class="menu-icon fa fa-caret-right"></i>
									角色
								</a>
								<b class="arrow"></b>
							</li>
							<!-- <li class="">
								<a href="">
									<i class="menu-icon fa fa-caret-right"></i>
									权限类型
								</a>
								<b class="arrow"></b>
							</li> -->
						</ul>
					</li>

					<li class="">
						<a href="http://dns.58corp.com/">
							<i class="menu-icon fa fa-globe"></i>
							<span class="menu-text">DNS管理 </span>
						</a>

						<b class="arrow"></b>
					</li>

					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-flask"></i>

							<span class="menu-text">
								实验室
								<span class="badge badge-primary">2</span>
							</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a href="#">
									<i class="menu-icon fa fa-caret-right"></i>
									自定义属性管理
								</a>

								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="">
									<i class="menu-icon fa fa-caret-right"></i>
									FAQ
								</a>

								<b class="arrow"></b>
							</li>
						</ul>
					</li>
				</ul><!-- /.nav-list -->

				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>

				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
				</script>
			</div>

			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
                                <a href="#">{% block Hometitle %}{% endblock %}</a>
							</li>
                            <li class="active">{% block actiontitle %}{% endblock %}</li>
						</ul><!-- /.breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->
					</div>

					<!--<div class="page-content">-->
                        <!--
						<div class="ace-settings-container" id="ace-settings-container">
							<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
								<i class="ace-icon fa fa-cog bigger-130"></i>
							</div>

							<div class="ace-settings-box clearfix" id="ace-settings-box">
								<div class="pull-left width-50">
									<div class="ace-settings-item">
										<div class="pull-left">
											<select id="skin-colorpicker" class="hide">
												<option data-skin="no-skin" value="#438EB9">#438EB9</option>
												<option data-skin="skin-1" value="#222A2D">#222A2D</option>
												<option data-skin="skin-2" value="#C6487E">#C6487E</option>
												<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
											</select>
										</div>
										<span>&nbsp; 选择皮肤</span>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
										<label class="lbl" for="ace-settings-navbar"> 固定导航栏</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
										<label class="lbl" for="ace-settings-sidebar"> 固定侧边栏</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
										<label class="lbl" for="ace-settings-breadcrumbs"> 固定导标记</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
										<label class="lbl" for="ace-settings-rtl"> 左右颠倒</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
										<label class="lbl" for="ace-settings-add-container">
											居中
											<b>.容器</b>
										</label>
									</div>
								</div><!-- /.pull-left -->
                                <!--
								<div class="pull-left width-50">
									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" />
										<label class="lbl" for="ace-settings-hover"> 子菜单悬停</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" />
										<label class="lbl" for="ace-settings-compact"> 收起侧边栏</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" />
										<label class="lbl" for="ace-settings-highlight"> Alt.功能键激活</label>
									</div>
								</div>--><!-- /.pull-left -->
							<!--</div>-->
                            <!-- /.ace-settings-box -->
						<!--</div>--><!-- /.ace-settings-container -->

		<!--				<div class="page-header">
							<h1>
  								{% block pagetitle %}{% endblock %}
								<small>


								</small>
							</h1>
						</div><!-- /.page-header -->
                    {% block pagecontent %}{% endblock %}
					<!--</div>-->
                <!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">58</span>
							CMDB &copy; 2015-2016
						</span>

						&nbsp; &nbsp;
					</div>
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		<script src="{% static 'js/excanvas.min.js' %}"></script>
		<![endif]-->
		<script src="{% static 'js/jquery-ui.custom.min.js' %}"></script>
		<script src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>
		<script src="{% static 'js/jquery.easypiechart.min.js' %}"></script>

		<!-- ace scripts -->
		<script src="{% static 'js/ace-elements.min.js' %}"></script>
		<script src="{% static 'js/ace.min.js' %}"></script>
		<script src="{% static 'js/ajax.js' %}"></script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">

		</script>
	</body>
</html>
